<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Import Bootstrap CSS from a CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>NBA Player Search</title>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Search for NBA Player Statistics</h1>
        <form action="/search" method="get">
            <div class="form-group">
                <label for="team">Team</label>
                <input type="text" class="form-control" id="team" name="team">
            </div>
            <div class="form-group">
                <label for="player">Player</label>
                <input type="text" class="form-control" id="player" name="player">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <h2 class="my-4">Search Results</h2>
        <ul>
            {% for player_name, player_id in players %}
            <li>
                <a href="/query?player_id={{ player_id }}">{{ player_name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
